<a href="https://colab.research.google.com/github/cloyola/python-utec/blob/main/ejercicios/CL_Laboratorio_de_ejercicios_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

Ejercicio 1

Crear una lista con los nombres de 5 bancos.

In [ ]:
banks = ["BCP","BBVA", "Interbank", "Scotiabank", "Pichincha"]

Ejercicio 2

Acceder al tercer banco de la lista.

In [ ]:
print (banks[2])

Interbank

Ejercicio 3

Agregar un nuevo banco a la lista.

In [ ]:
banks.append("Comercio")
print (banks)

['BCP', 'BBVA', 'Interbank', 'Scotiabank', 'Pichincha', 'Comercio']

Ejercicio 4

Eliminar el segundo banco.

In [ ]:
del banks[1]
print (banks)

['BCP', 'Interbank', 'Scotiabank', 'Pichincha', 'Comercio']

Ejercicio 5

Ordenar alfab√©ticamente los bancos.

In [ ]:
banks.sort()
print (banks)

['BCP', 'Comercio', 'Interbank', 'Pichincha', 'Scotiabank']

# Condicionales IF, ELIF, ELSE

Ejercicio 1

Verificar si un cliente tiene ingreso > 3000.

In [ ]:
income = int(input("Ingrese su ingreso: "))
if income > 3000:
  print("Tiene ingreso mayor a 3000 soles")
else:
  print("Tiene ingreso menor a 3000 soles")

Ingrese su ingreso: 3500
Tiene ingreso mayor a 3000 soles

Ejercicio 2

Evaluar edad para otorgar tarjeta de cr√©dito.

In [ ]:
age = int(input("Ingrese su edad: "))
if age >= 18:
  print("Puede otorgar tarjeta de cr√©dito")
else:
  print("No puede otorgar tarjeta de cr√©dito")

Ingrese su edad: 20
Puede otorgar tarjeta de cr√©dito

Ejercicio 3

Evaluar un score de cr√©dito.

In [ ]:
if (age >= 18) and (income > 3000):
  print("Puede otorgar tarjeta de cr√©dito")

Ejercicio 4

Verificar si una cuenta tiene saldo negativo.

In [ ]:
saldo = int(input("Ingrese su saldo: "))
if saldo < 0:
  print("Tiene saldo negativo")
else:
  print("No tiene saldo negativo")

Ejercicio 5

Comparar dos tasas de inter√©s.

In [ ]:
rate1 = float(input("Ingrese la primera tasa de inter√©s: "))
rate2 = float(input("Ingrese la segunda tasa de inter√©s: "))
if rate1 > rate2:
  print("La primera tasa de inter√©s es mayor")
elif rate1 < rate2:
  print("La segunda tasa de inter√©s es mayor")
else:
  print("Las tasas de inter√©s son iguales")

Ejercicio 6

Evaluar si un cliente tiene m√°s de 3 productos financieros.

In [ ]:
quantity = int(input("Ingrese la cantidad de productos financieros: "))
if quantity > 3:
  print("El cliente tiene m√°s de 3 productos financieros")
else:
  print("El cliente no tiene m√°s de 3 productos financieros")

Ejercicio 7

Determinar si un monto depositado supera los 10,000.

In [ ]:
deposit = int(input("Ingrese el monto depositado: "))
if deposit > 10000:
  print("El monto depositado supera los 10,000 soles")

Ingrese el monto depositado: 12000
El monto depositado supera los 10,000 soles

# **Diccionarios**

Ejercicio 1

Crear un diccionario con datos de un cliente.

In [ ]:
cliente = {"nombre": "Juan", "edad": 30, "saldo": 5000}

Ejercicio 2

Acceder al saldo del cliente.

In [ ]:
print(cliente["saldo"])

5000

Ejercicio 3

Modificar el saldo.

In [ ]:
cliente["saldo"] = 6000
print(cliente["saldo"])

6000

Ejercicio 4

Agregar una nueva llave 'tarjeta_credito'.

In [ ]:
cliente["tarjeta_credito"] = True
print(cliente)

{'nombre': 'Juan', 'edad': 30, 'saldo': 6000, 'tarjeta_credito': True}

Ejercicio 5

Eliminar el nombre del cliente.

In [ ]:
del cliente["nombre"]
print(cliente)

{'edad': 30, 'saldo': 6000, 'tarjeta_credito': True}

# FOR

Ejercicio 1

Recorrer una lista de tasas de inter√©s.

In [ ]:
tasa = ["5%", "6%", "7%", "8%", "9%"]
for i in tasa:
  print(i)

5%
6%
7%
8%
9%

Ejercicio 2

Sumar todos los saldos de una lista.

In [ ]:
saldos = [1000, 2000, 3000, 4000, 5000]
suma = 0
for i in saldos:
  suma = suma + i
print(suma)

15000

Ejercicio 3

Recorrer una lista de precios de productos ecommerce y aplicar descuento de 10%.

In [ ]:
precios = [50, 100, 200, 300, 400, 500]
for i in range(len(precios)):
  precios[i] = precios[i] * 0.9
print(precios)

[45.0, 90.0, 180.0, 270.0, 360.0, 450.0]

Ejercicio 4

Contar cu√°ntos productos tienen un precio mayor a 100.

In [ ]:
contador = 0
for i in range(len(precios)):
  if precios[i] > 100:
    contador += 1
    print(precios[i])
print(f"Existen {contador} productos con precio mayor a 100")

180.0
270.0
360.0
450.0
Existen 4 productos con precio mayor a 100

Ejercicio 5

Recorrer campa√±as de marketing y mostrar su nombre.

In [ ]:
campaigns = ["Dia de la mujer", "Dia de la madre", "Dia del padre"]

for i in campaigns:
  print(i)

Dia de la mujer
Dia de la madre
Dia del padre

Ejercicio 6

Recorrer un diccionario de clientes con saldo y mostrar solo los que tengan saldo > 2000.

In [ ]:
clientes = {
    "001": {"nombre": "Carlos", "saldo": 4000},
    "002": {"nombre": "Juan", "saldo": 1000},
    "003": {"nombre": "Maria", "saldo": 1500},
    "004": {"nombre": "Juana", "saldo": 3000}
}

for i in clientes:
  if clientes[i]["saldo"] > 2000:
    print(clientes[i]["nombre"])

Carlos
Juana

Ejercicio 7

Recorrer una lista de emails de clientes y contar los que terminan en "@gmail.com".

In [ ]:
emails = ["abc@gmail.com","def@hotmail.com","ghi@outlook.com","jaime@gmail.com"]
contador = 0
for i in emails:
  if i.endswith("@gmail.com"):
    contador += 1
print(f"Existen {contador} emails con dominio @gmail.com")

Existen 2 emails con dominio @gmail.com

# Mini Proyecto

"Evaluador de Clientes Hipotecarios"

Contexto:
Un banco quiere evaluar a sus clientes para ofrecerles un nuevo cr√©dito hipotecario.
Cada cliente tiene datos como: nombre, ingreso mensual, deudas actuales y n√∫mero de productos contratados.

Objetivo:
1. Crear la base de datos de clientes usando un diccionario.
2. Usar for para recorrer todos los clientes.
3. Aplicar condicionales para clasificar:
   - "Elegible" si su ingreso anual es mayor a 36,000 soles, sus deudas son menores a 15,000 soles y tiene al menos 2 productos contratados.
   - "Requiere Evaluaci√≥n" si cumple solo algunas condiciones.
   - "No Elegible" si no cumple ninguna condici√≥n.
4. Mostrar el resultado bien formateado por cliente.

Instrucciones

1. Crea un diccionario llamado clientes con al menos 5 clientes.
2. Cada cliente tendr√°:
   - Nombre (str)
   - Ingreso mensual (float)
   - Deudas (float)
   - N√∫mero de productos contratados (int)
3. Calcula el ingreso anual (ingreso mensual √ó 12).
4. Usa un for para recorrer cada cliente.
5. Usa if, elif, else para clasificarlo en una de las tres categor√≠as.
6. Muestra en pantalla: Cliente: {nombre} - Resultado: {clasificaci√≥n}

In [ ]:
clientes = {
    "001": {"nombre": "Carlos", "ingreso": 4000.00, "deudas": 2293.00, "productos": 2},
    "002": {"nombre": "Juan", "ingreso": 1000.00, "deudas": 1000.00, "productos": 1},
    "003": {"nombre": "Maria", "ingreso": 1500.00, "deudas": 1500.00, "productos": 3},
    "004": {"nombre": "Juana", "ingreso": 3000.00, "deudas": 3000.00, "productos": 4},
    "005": {"nombre": "Jaime", "ingreso": 5000.00, "deudas": 5000.00, "productos": 5}
}

for i in clientes:
  if (clientes[i]["ingreso"] * 12 > 36000) and (clientes[i]["deudas"] < 15000) and (clientes[i]["productos"] >= 2):
    print(f"Cliente: {clientes[i]['nombre']} - Resultado: Elegible")
  elif (clientes[i]["ingreso"] * 12 > 36000) or (clientes[i]["deudas"] < 15000) or (clientes[i]["productos"] >= 2):
    print(f"Cliente: {clientes[i]['nombre']} - Resultado: Requiere Evaluaci√≥n")
  else:
    print(f"Cliente: {clientes[i]['nombre']} - Resultado: No Elegible")

Cliente: Carlos - Resultado: Elegible
Cliente: Juan - Resultado: Requiere Evaluaci√≥n
Cliente: Maria - Resultado: Requiere Evaluaci√≥n
Cliente: Juana - Resultado: Requiere Evaluaci√≥n
Cliente: Jaime - Resultado: Elegible

# üî• Nivel extra:

1. Ingresa manualmente los clientes (input).
2. Calcula la diferencia absoluta (abs) entre ingreso anual y deudas.
3. Redondea (round) el ingreso anual al n√∫mero entero m√°s cercano.

In [ ]:

for i in len(clientes):
  nombre = input("Ingrese el nombre del cliente: ")
  ingreso = float(input("Ingrese el ingreso mensual del cliente: "))
  deudas = float(input("Ingrese las deudas del cliente: "))
  productos = int(input("Ingrese el n√∫mero de productos contratados del cliente: "))
  ingreso_anual = ingreso * 12
  deudas_abs = abs(ingreso_anual - deudas)
  ingreso_redondeado = round(ingreso_anual, 0)

  clientes[i]["nombre"] = nombre
  clientes[i]["ingreso"] = ingreso
  clientes[i]["deudas"] = deudas
  clientes[i]["productos"] = productos
  clientes[i]["deuda absoluta"] = deudas_abs
  clientes[i]["ingreso redondeado"] = ingreso_redondeado

TypeError: 'int' object is not iterable